<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Shop</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<header>
    <h1>Checkout</h1>
    <p>Confirm order and go to payment</p>
    <a href="/logout">Logout</a> <!-- Logout button -->
</header>

<main>

    <h2>Your Order</h2>

    <!-- Check if orderLines is empty -->
    <div th:if="${#lists.isEmpty(orderLinesDTO)}">
        <p>Your order is empty. Start by adding items to your order!</p>
    </div>

    <ul th:unless="${#lists.isEmpty(orderLinesDTO)}">
        <li th:each="orderLineDTO : ${orderLinesDTO}">
            <!-- Display quantity -->
            <span th:text="'Amount: '+ ${orderLineDTO.quantity}"></span>

            <!-- Display cupcake details (Top and Bottom names) -->
            <span th:text="' Bottom: '+ ${orderLineDTO.bottomName} + ' + Top: ' + ${orderLineDTO.topName}"></span>

            <!-- Display line price -->
            <span th:text="'$' + ${orderLineDTO.linePrice}"></span>
        </li>
    </ul>

    <a th:href="@{/shop}">Back to shop</a>
    <a th:href="@{/payment}">Proceed to Payment</a>
</main>

</body>
</html>
