<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Vælg Din Cupcake</title>
  <meta charset="UTF-8">
</head>
<header>
  <h1>Bestil dine cupcakes</h1>
  <div class="top-right">
    <span th:text="${session.user}">Bruger</span> |
    <a href="/logout">Logout</a>
  </div>
</header>

<body>
<h1>Customize your cupcake!</h1>

<form method="post" th:action="@{/add-cupcake}">
  <label for="bottom">Choose Botto,:</label>
  <select name="bottom" id="bottom">

  </select>

  <br><br>

  <label for="top">Choose top:</label>
  <select name="top" id="top">

  </select>

  <br><br>
  <button type="submit">Add to cart</button>
</form>
</body>
</html>
